import logging

INSTALL_NAME = 'Nombre'                                         # Nombre de la instalación, se incluye en los mensajes de error, para identificar el origen del mensaje

LOG_LEVEL = logging.WARNING

TELEGRAM = {
    'bot-token': 'TOKEN',
    'allowed-groups': [ -10012345678 ],                         # El bot responde por privado o bien cuando se le habla en alguno de los grupos de la lista
    'allowed-users': {                                          # Usuarios que pueden interactuar con el chat, bien por privado o bien en un grupo
        '12345678': True,                                       # El usuario '12345678' es un usuario administrador y puede ejecutar cualquier operación
        '90123456': False,                                      # El usuario '90123456' no es un usuario administrador y puede ejecutar las operaciones consideradas normales: iniciar y parar la alarma
    },
    'administrative-users': [ 12345678 ],                       # Usuarios que pueden interactuar con el chat, bien por privado o bien en un grupo, y que pueden ejecutar operaciones privilegiadas (dockers, cámaras, etc)
    'developer-chat': -10012345678,                             # Chat al que se enviarán los mensajes de error (opcional)
}

MQTT = {
    'broker': {
        'address': '127.0.0.1',                                 # Dirección IP o nombre DNS del broker MQTT
        'port': 1883,                                           # Puerto del broker MQTT
        'username': 'USER',                                     # Usuario con el que poder leer de la cola de MQTT o enviar mensajes
        'password': 'PASSWORD',                                 # Contraseña del usuario MQTT
    },
    'first-reconnect-delay': 1,
    'max-reconned-delay': 120,
    'delay-on-reconnect-multiplier': 2,
    'max-reconnect-attempts': 10,
}

ALARMO = {
    'mqtt-topics': {
        'state': 'alarmo/state',                                
        'command': 'alarmo/command',
    },
    'arm-modes': [ 'arm-home', 'arm-away' ],                    # Los modos de alarma que se pueden configurar desde /alarm (se soportan arm-home, arm-away, arm-night y arm-vacation) 
    'arm-modes-synonyms': {                                     # Palabras clave para usar en /alarms [arm_mode] en lugar de las palabras indicadas en "arm-modes" (opcional)
        'home': 'arm-home',
        'away': 'arm-away',
    },
    'arm-modes-names': {                                        # Nombres de los modos de alarma, en minúsculas (opcional)
        'arm-home': 'casa',
        'arm-away': 'fuera de casa'     
    },
    'bypassed-confirmations': {
        'arm-home': False,
        'arm-away': False,
        'disarm': False,
    },
}
    
CAMERAS = {
    'devices': {
        '1': {                                                  # El ID de la cámara solo una palabra (o varias separadas por guiones o guines bajos)
            'name': 'NOMBRE',
            'ip': 'IP',
            'oem': 'tapo',                                      # Fabricante de la cámara (solo "tapo" está soportado actualmente)
        },
    },
    'oems': {
        'tapo': {
            'user': 'USER',                                     # Usuario de acceso a la cámara (es el usuario RSTP que se ha puesto en opciones avanzadas, y si éste no funciona entonces probar "admin")
            'password': 'PASSWORD',                             # Contraseña de acceso a la cámara (es la contraseña del usuario RSTP que se ha puesto en opciones avanzadas, y si ésta no funciona entonces probar la de la cuenta TP-Link)
        },
    },
    'bypassed-confirmations': {
        'restart': False,
    },
}

COMPUTERS = {
   'devices': {												   # Lista de dispositivos que se pueden despertar usando el comando wakeonlan.
        '1': {												   # ID de la máquina 
			'name': 'NOMBRE',								   # Nombre de la máquina	
			'mac':  '01:23:45:67:89',						   # Dirección MAC (opcional, necesario para wakeonlan)
			'ip':   '192.168.1.15'                             # Dirección IP (opcional, necesario para ping)
		},
   }
    'bypassed-confirmations': {
        'wakeonlan': False,
    },
}
DOCKERS = {
    'host-indirection': 'roberto@localhost',                   # Si se define, el comando 'docker-compose' se ejecutará en el user-host descrito en lugar de en el docker/host local
                                                               # Necesitará añadir la clave del usuario/host en el que se ejecuta el comando al archivo authorized_keys del usuario/host destino
    'bypassed-confirmations': {
        'start': False,
        'stop': False,
        'restart': False,
        'delete': False,
    },
}

VPN = {
   'type': 'docker',                                           # El tipo de la VPN. De momento solo ofrecemos soporte para VPN que funcionan en un contenedor.
   'docker': 'NOMBRE',                                         # El nombre del docker que implementa la VPN.
   'bypassed-confirmations': {
        'start': False,
        'stop': False,
   },
}

EMAIL_GENERATOR = {
    'history-pathname': 'aliases.txt',                          # Pathname del fichero de alias que ya se han generado
    'domain': 'example.com',                                    # Dominio en el que se generan los alias
}


